<div class="jumbotron">
  <%= image_tag('logo-cortiva-massage-h.svg', alt: 'Cortiva Institute Logo') %>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4 col-xl-2">
    <a href="#">
      <div class="thumbnail class-thumbnail">
        <div class="caption">
          <div><%= image_tag('mas_massage_tables.png', class: 'img-responsive', alt: 'Massage Tables for MAS') %></div>
          <h3 class="text-center">MAS135</h3>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-4">
    <a href="#">
      <div class="thumbnail class-thumbnail">
        <div class="caption">
          <div><%= image_tag('pec.png', class: 'img-responsive', alt: 'Massage Tables for MAS') %></div>
          <h3 class="text-center">PEC121</h3>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-4">
    <a href="#">
      <div class="thumbnail class-thumbnail">
        <div class="caption">
          <div><%= image_tag('mas_massage_tables.png', class: 'img-responsive', alt: 'Massage Tables for MAS') %></div>
          <h3 class="text-center">MCL111</h3>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-4">
    <a href="#">
      <div class="thumbnail class-thumbnail">
        <div class="caption">
          <div><%= image_tag('mas_massage_tables.png', class: 'img-responsive', alt: 'Massage Tables for MAS') %></div>
          <h3 class="text-center">MAS120</h3>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-4">
    <a href="#">
      <div class="thumbnail class-thumbnail">
        <div class="caption">
          <div><%= image_tag('mas_massage_tables.png', class: 'img-responsive', alt: 'Massage Tables for MAS') %></div>
          <h3 class="text-center">APP111</h3>
        </div>
      </div>
    </a>
  </div>
</div>
