<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 flexbox full-height">
      <div class="jumbotron gatekeeper">
        <%= image_tag('logo-cortiva-massage-h.svg', alt: "Cortiva Institute Logo") %>

        <div class="text-center cortiva-gold-background">
          <h2>Log in</h2>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.label :username %><br />
              <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'test@testtracker.com' %>
            </div>

            <div class="form-group">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'helloworld' %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="form-group">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>

            <div class="actions">
              <%= f.submit "Log in" %>
            </div>
          <% end %>
          <br />

          <%= render "devise/shared/links" %>

        </div>
      </div>
    </div>
  </div>
</div>


