<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><%= "#{@course.course_id}" %> &mdash; <%= "#{@course.instructor.name}" %></h1>
  </div>
</div>

<!-- Panels -->
<div class="row">
  <div class="col-lg-3 col-md-4 col-xs-6">
    <div class="panel panel-primary panel_shadow">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-3">
            <i class="fa fa-calendar fa-4x"></i>
          </div>
          <div class="col-sm-9 text-right">
            <div class="font-2x">Deadline</div>
            <div><%= @course.session.deadline.strftime("%b %e, %Y") %></div>
          </div>
        </div>
      </div>
      <div class="panel-footer text-center">
        <small><%= time_diff(Date.today, @course.session.deadline) %> <%= @course.session.deadline > Date.today ? " away." : " ago." %></small>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-xs-6">
    <div class="panel panel-warning panel_shadow">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-3">
            <i class="fa fa-warning fa-4x"></i>
          </div>
          <div class="col-sm-9 text-right">
            <div class="font-2x"><%= @course.exams.where(result: 'absent').count + @course.exams.where(result: 'retake').count %></div>
            <div>Missing Makeups</div>
          </div>
        </div>
      </div>
      <div id="missing_makeup_info_panel">
        <div class="panel-footer">
          <span class="pull-left">View Details</span>
          <span class="pull-right"><span class="glyphicon glyphicon-menu-right"></span></span>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Table -->
<% if @course.students.count > 0 %>
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-12 course-table">
      <table class="table table-hover table-bordered course_exam_table" width="100%">
        <thead class="cortiva-gold-background">
        <tr>
          <th>Cohort</th>
          <th>Student</th>
          <th>Exam</th>
          <th>Result</th>
        </tr>
        </thead>
        <tbody>

        <% @course.exams.each do |exam| %>
          <tr>
            <td><%= exam.student.cohort.cohort_id %></td>
            <td><%= exam.student.lname %>, <%= exam.student.fname %></td>
            <td><%= "#{exam.exam_num}#{exam.session} - #{exam.exam_type.humanize}" %></td>
            <%= generate_result_cell(exam).html_safe %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<%= render 'partials/exams/exam_entry' %>