<!DOCTYPE html>
<html>
  <head>
    <title>TestTracker</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.css"/>

    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.js"></script>
  </head>

  <body>
    <div id="wrapper">
      <%= render 'layouts/sidebar' %>

      <div id="main_content">
        <%= render 'welcome/top-menu-bar' %>

        <div class="container-fluid">

          <% if flash[:notice] %>
            <div class="alert alert-success">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= flash[:notice] %>
            </div>
          <% elsif flash[:alert] %>
            <div class="alert alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= flash[:alert] %>
            </div>
          <% end %>

          <%= yield %>

          <% console %>
        </div>
      </div>
    </div>
  </body>
</html>
